argcomplete==1.9.3
boto3==1.9.214
botocore==1.12.214
certifi==2019.9.11
cfn-flip==1.2.1
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
Django==2.2.18
django-debug-toolbar==2.0
django-extensions==2.2.1
django-filter==2.2.0
django-s3-storage==0.12.5
django-simple-history==2.7.3
djangorestframework==3.9.0
docutils==0.15.2
drf-yasg==1.15.1
durationpy==0.5
entrypoints==0.3
flake8==3.7.8
future==0.16.0
hjson==3.0.1
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kappa==0.6.0
lambda-packages==0.20.0
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.4
oauthlib==3.1.0
placebo==0.9.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
python-dateutil==2.8.0
python-slugify==1.2.4
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
s3transfer==0.2.1
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
toml==0.10.0
tqdm==4.34.0
troposphere==2.5.2
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.25.3
watchtower==0.6.0
Werkzeug==0.16.0
wsgi-request-logger==0.4.6
zappa==0.48.2
zappa-django-utils==0.4.0
