{% extends "navigation.html" %}
{% load filter %}

{% block main %}
<div class="row">
    <div class="col-12">
        <h1>{{ model }} history ({{ generic.gtin }})</h1>
    </div>

    <div class="col-12">
        <ul class="timeline">
            {% for history_diff in history %}
            <li class="timeline-item">
                <div class="timeline-item-content">
                    <h6 class="timeline-header">{{history_diff.time|date:"Y-m-d H:i:s" }}</h6>
                    <p>Changed by: {{ history_diff.user }}</p>
                    <ul>
                        {% for change in history_diff.delta %}
                        <li>
                            <strong>{{ generic|verbose_name:change.field }}:</strong>
                            {{ change.new }} => {{ change.old }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
            <li class="timeline-created"></li>
        </ul>
    </div>
</div>
{% endblock %}