{% extends "navigation.html" %}

{% block main %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1 class="d-inline-block">Product recent changes</h1>
                <a href="{% url 'product_recent' %}">View</a>
                {% include "web/product_recent_changes_snippet.html" %}
            </div>
            {% include "web/pagination-nav.html" %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Need work to do?</h1>

                <ul class="list-group list-group-flush">
                    {% if incomplete_products_count > 0%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'product_incomplete' %}">
                            Incomplete products
                        </a>
                        <span class="badge badge-pill badge-danger">{{ incomplete_products_count }}</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}