{% extends "navigation.html" %}

{% block main %}
<div class="row">
    <div class="col-12 login-flex">
        <div class="login-box align-self-center">
            <div class="text-logo">
                <div class="text-logo-circle"></div>
                <div class="text-logo-text">
                    <span class="d-block text-logo">PIM</span>
                </div>
            </div>

            <div class="login-button-holder">
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}